<div
  class="hidden lg:block absolute bottom-8 left-1/2 -translate-x-1/2 scroll-indicator-icon"
  aria-hidden="true"
>
  <div class="w-[30px] h-[50px] border-2 border-foreground rounded-[15px] opacity-60 flex justify-center">
    <div class="w-1.5 h-1.5 rounded-full bg-foreground mt-1.5 scroll-bob-dot"></div>
  </div>
</div>
